{% extends 'base.html' %}
{% block title %} About {% endblock title %} 
{% block firstSection %}

<div class="container mt-4 p-2">
    <div class="row">
      <div class="col-md-4"></div>
  
      <div class="col-md-4">
      <br>
      <br>
      <br>
      
        <h3 class="text-white bg-dark text-center p-3">About Us</h3>


      <h2>  Best IT Training Institute In Marathahalli
        RIA Institute of technology, one of the best IT training institute in Marathahalli offers IT and Non-IT training to students and professionals who are inclined towards enhancing their skills and thereby find the  growth curve of their professional  and personal life on a crest. We are a team of expert trainers who desire to provide employable skills to those seeking for a bright career which in turn   serves the ever-growing demand of IT Industry. According to recent  studies  done by the Top Notch  Companies of 2019, fifty-five percent of international firms are inclined strongly  towards  adopting IT Industry strategy. This only means that multiple new job opportunities are created in a couple of years from now .This statistics is food for thought and  RIA Institute of technology being the best software training institute in Marathahalli is sure to be in the limelight where many individuals in need of upscaling their It skills can find their desired course with us..</h2>




  
  
      </div>
  
      <div class="col-md-4"></div>
    </div>
  </div>

{% endblock firstSection %}



